.mode {
	position: relative;
	z-index: 22;
}

.check {
	position: relative;
	display: grid;
	width: 60px;
	height: 40px;
	border-radius: 30px;
	background-color: #121212;
}

.input {
	position: absolute;
	top: 0;
	width: 0;
	height: 0;
}

.toggler {
	cursor: pointer;
	svg {
		width: 35px;
		height: 35px;
		fill: #fff;
		transition: fill 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				fill: #ffc540;
			}
		}
	}

	&_dark {
		svg {
			fill: #121212;
		}
	}
}
