.city {
	display: flex;
	align-items: center;
	gap: 8px;

	color: #fafbfc;
	transition: color 0.3s;
	cursor: pointer;
	svg {
		fill: #fff;
		width: 30px;
		height: 25px;
		transition: fill 0.3s;
	}

	&__text {
		&:hover {
			text-decoration: underline;
		}
	}

	@media (max-width: 767px) {
		svg {
			display: none;
		}
	}
	// &_dark {
	// 	color: #2d2d2d;

	// 	svg {
	// 		fill: #2d2d2d !important;
	// 	}
	// }
}
