.cart {
	position: relative;
	margin: 0 0 0 auto;
	@media (max-width: 767px) {
		grid-area: cart;
	}

	&__body {
		position: absolute;
		z-index: 4;
		display: grid;
		max-height: 300px;
		// min-height: 200px;

		gap: 25px;
		z-index: 3;
		top: 0;
		right: 0;
		opacity: 0;
		transform: scale(0);
		transition: all 0.3s;

		background-color: #ffffff;
		border-radius: 4px;
		padding: 10px 15px;
		box-shadow: -1 4 30 rgba(0, 0, 0, 0.164);
		border: 1px solid #212121;
		overflow: hidden;
		&_show {
			top: 45px;
			overflow: auto;
			right: 0;
			transform: scale(1);
			opacity: 1;
		}
	}

	&__list {
		display: grid;
		gap: 20px;
	}

	&__visible {
		position: relative;
		text-align: center;
		display: grid;
		justify-items: center;
		cursor: pointer;
		gap: 4px;
		transition: transform 0.1s ease-in;

		svg {
			position: relative;
			z-index: 5;

			transition: fill 0.3s ease-in;
		}
		@media (any-hover: hover) {
			&:hover {
				transform: scale(1.1);
			}
		}
	}

	&__quantity {
		position: absolute;
		z-index: 5;
		top: -5px;
		right: 0;
		color: #fafbfc;
		width: 16px;
		height: 16px;
		background-color: #1c629e;
		padding: 4px;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		font-size: 12px;

		border-radius: 50%;
	}

	&__item {
		display: grid;
		gap: 25px;
	}

	span {
		transition: color 0.3s;
		color: #1c629e;
	}
	svg {
		fill: #1c629e;
		transition: color 0.3s;
	}

	&__delete {
		svg {
			fill: red;
			width: 25px;
			height: 25px;
		}
	}

	&__footer {
		display: grid;
		gap: 10px;
	}
	&__totalPrice {
		color: #121212;
	}

	&__button {
		color: #fff;
		background-color: #212121;
		padding: 8px;
	}
}
.dark {
	.cart__body {
		background-color: #101010;
	}
	.cart__totalPrice {
		color: #eee;
	}
	.cart__visible {
		span {
			color: #fafbfc;
		}
		svg {
			fill: #fafbfc !important;
		}
	}
	.cart__quantity {
		color: #fafbfc;
	}
}
