.cart {
	align-items: center;
	color: #4e4c4c;
	&__info {
		display: flex;
		align-items: center;
		gap: 24px;
		margin: 0 0 16px 0;
	}

	&__name {
	}

	&__image {
		border-radius: 4px;
		object-fit: cover;
	}

	span {
		transition: color 0.3s;
		color: #1c629e;
	}
	svg {
		fill: #1c629e;
		transition: color 0.3s;
	}

	&__delete {
		margin-left: auto;
		transition: fill 0.3s ease 0s;
		svg {
			@media (any-hover: hover) {
				&:hover {
					fill: #e0595d;
				}
			}
		}
	}

	&__footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__price {
		color: #4e4c4c;
	}

	&_dark {
		color: #fbfafc;
		.cart__name {
			color: #fbfafc;
		}
		.cart__price {
			color: #ccc;
		}
		.cart__count {
		}
		.cart__totalPrice {
			color: #eee;
		}
	}
}
