.buyers {
	padding: 60px 0 80px 0;
	@media (max-width: 767px) {
		padding: 30px 0 40px 0;
	}
	&__container {
	}

	&__wrapper {
		display: grid;
		gap: 30px;
		@media (min-width: 992px) {
			grid-template-columns: 1fr 528/1436 * 100%;
			gap: 103/1436 * 100%;
		}
	}
	&__content {
		display: grid;
		gap: 16px;
		padding: 24px;
		background-color: #fff;
		box-shadow: 0 2px 8px rgba(0, 0, 0, 0.11);
		align-self: start;
		line-height: 27/ 18 * 100%;

		a {
			font-weight: 600;
			color: #000;
		}

		p {
			font-size: 18px;
			color: #4e4c4c;
		}
	}

	// input {
	// 	color: #121212;
	// }

	&_dark {
		background-color: #121212;

		.buyers__content {
			background-color: #232323;
			a {
				color: #fbfafc;
			}
			p {
				color: #ccc;
			}
		}
	}
}
