.breadcrumb {
	padding: 30px 0;

	&__list {
		display: flex;
		gap: 15px;
		align-items: center;
	}

	&__item {
		font-size: 14px;
		font-weight: 500;
		color: #2d2d2d;

		&_home {
			color: #000;
		}

		&_active {
			color: #ffcf62;
			cursor: pointer;
		}
	}
}
