.order {
	&__wrapper {
		padding: 42px 0;
		display: grid;

		gap: 17px;
		@media (min-width: 992px) {
			grid-template-columns: 1fr 439px;
		}
	}
	&__title {
		font-size: 22px;
		font-weight: 500;
		color: #2d2d2d;
		margin: 0 0 16px 0;
		grid-column: span 2;
	}

	&__body {
		// background-color: #ccc;
		padding: 16px;
		margin-bottom: 16px;
	}

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 15px;
		padding: 16px;
		box-shadow: 0 2px 8px #0000001c;
	}

	&__cart {
		display: flex;
		align-items: center;
		gap: 35px;
		color: #205684;

		font-weight: 600;

		svg {
			fill: #205684;
		}
	}

	&__edit {
		display: flex;
		align-items: center;
		gap: 16px;
		color: #e0595d;
		font-size: 16px;

		svg {
			stroke: #e0595d;
		}
	}

	&__list {
		display: grid;
		padding: 16px;

		// gap: 16px;
	}
	&__item {
		border-bottom: 1px solid #e1e1e1;
		padding: 16px 0;
	}

	&__sum {
		display: grid;
		gap: 16px;
	}
	&__info {
		display: flex;
		justify-content: space-between;
		align-items: center;
		// padding: 16px;
	}

	&__text {
		font-size: 18px;
		color: #4e4c4c;
	}

	&__button {
		display: flex;
		align-items: center;
		justify-content: center;
		color: #fafbfc;
		background-color: #1c629e;
		padding: 8px 0;
		width: 100%;
		border-radius: 4px;
		transition: background-color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				background-color: #054175;
			}
		}
	}

	&__footer {
		padding: 16px;
	}

	&__total {
		font-weight: 600;
		font-size: 18px;
		color: #205684;
		margin-bottom: 24px;
	}

	&__block {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 24px 0;
	}

	&__value {
		font-size: 18px;
		color: #7b7b7b;
	}

	&__totalPrice {
		font-size: 24px;
		color: #2d2d2d;
	}
	&__submit {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		padding: 10px 0;
		font-size: 20px;
		color: #7b7b7b;
		background-color: #f0f0f0;
		border-radius: 4px;
		margin: 12px 0 0 0;
		&_ready {
			color: #4e4c4c;
			background-color: #ffcf62;
			transition: background-color 0.3s ease 0s;
			@media (any-hover: hover) {
				&:hover {
					background-color: #e9a507;
				}
			}
		}
	}

	&_dark {
		.order__title {
			color: #fbfafc;
		}
		.order__text {
			color: #ccc;
		}
		.order__cart {
			color: #ccc;
			svg {
				fill: #ccc;
			}
		}
		.order__totalPrice {
			color: #ccc;
		}

		.order__value {
			color: #fbfafc;
		}
		.order__submit {
			color: #121212;
			background-color: #fbfafc;

			&_ready {
				color: #121212;
				background-color: #ffcf62;
				transition: background-color 0.3s ease 0s;
				@media (any-hover: hover) {
					&:hover {
						background-color: #e9a507;
					}
				}
			}
		}
		.order__agreement {
			color: #ccc;
		}
	}
}

.spinner {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;

	&::before {
		content: '';
		display: block;
		background-color: #0b55a338;
		width: 100%;
		height: 100%;
	}
}

.circle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 70px;
	height: 70px;
	border-radius: 50%;
	border: 4px solid #007bff;
	border-top-color: transparent;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
