.counter {
	font-family: Arial, sans-serif;
	text-align: center;

	&__container {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 10px;
	}

	&__button {
		background-color: #d19a01;
		color: #fff;
		border: none;
		padding: 5px;
		flex: 0 0 20px;

		font-size: 1.2rem;
		cursor: pointer;
		transition: background-color 0.3s ease;
	}

	&__button:hover {
		background-color: #0056b3;
	}

	&__value {
		font-size: 2rem;
		margin: 0 15px;
	}
}
