.cataloPage {
	&__items {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
		gap: 16px;
	}
}

// .catalogItem {
// 	display: grid;
// 	gap: 16px;
// 	padding: 24px 16px 40px 15px;
// 	background-color: #fff;
// 	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
// 	transition: box-shadow 0.3s;
// 	border-radius: 4px;
// 	height: 100%;

// 	&:hover {
// 		box-shadow: -1px 4px 30px rgba(0, 0, 0, 0.16);

// 		.catalogItem__title {
// 			color: #e0595d;
// 		}
// 	}

// 	&__image {
// 		position: relative;
// 		padding: 0 0 184/ 225 * 100% 0;

// 		img {
// 			position: absolute;
// 			top: 0;
// 			left: 0;
// 			width: 100%;
// 			height: 100%;
// 			object-fit: cover;
// 			border-radius: 4px;
// 			transition: transform 0.3s;
// 		}

// 		&:hover {
// 			img {
// 				transform: scale(1.1);
// 			}
// 		}
// 	}

// 	&__title {
// 		font-size: 18px;
// 		color: #4e4c4c;
// 		transition: color 0.3s;
// 	}

// 	&__article {
// 		color: #7b7b7b;
// 	}

// 	&__price {
// 		font-weight: 500;
// 		font-size: 20px;
// 		color: #2d2d2d;
// 	}

// 	&__footer {
// 		display: flex;
// 		align-items: center;
// 		justify-content: space-between;
// 		gap: 10px;
// 	}

// 	&__action {
// 		display: flex;
// 		width: 40px;
// 		flex: 0 0 40px;
// 		height: 40px;
// 		justify-content: center;
// 		align-items: center;
// 		text-align: center;
// 		background-color: #ffcf62;
// 		border-radius: 4px;
// 		cursor: pointer;

// 		@media (any-hover: hover) {
// 			opacity: 0;
// 			overflow: hidden;
// 			transition: opacity 0.5s, overflow 0.5s;
// 		}

// 		&_add {
// 			background-color: rgb(12, 184, 12);
// 		}
// 	}

// 	@media (any-hover: hover) {
// 		&:hover {
// 			.catalogItem__action {
// 				opacity: 1;
// 				overflow: visible;
// 			}
// 		}
// 	}
// }

.paginate {
	margin-top: 40px;
	&__container {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 8px;
	}

	&__item {
		&:last-child {
			.paginate__link {
				background-color: #def0ff;
			}
		}
	}

	&__link {
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		width: 36px;
		height: 36px;
		flex: 0 0 36px;
		border-radius: 4px;
		color: #5e5e5e;
		font-weight: 500;
		transition: background-color 0.3s, color 0.3s;

		&:hover {
			background-color: #def0ff;
		}
	}
	&__active {
		a {
			background-color: #1c629e;
			box-shadow: 0 0 30px hsla(208, 70%, 36%, 0.3);
			color: rgb(255, 255, 255);
			border-radius: 8px;
			font-size: 12px;
		}
	}

	&__next {
		display: none;
	}
}

.dark {
	color: #fafbfc;
	background-color: #2d2d2d;

	// .catalogItem {
	// 	color: --colorWhiteGray;
	// 	background-color: #2d2d2d;
	// 	box-shadow: 0 2px 8px rgba(209, 208, 208, 0.11);
	// 	&__title {
	// 		color: #fafbfc;
	// 	}

	// 	&__article {
	// 		color: #ededed;
	// 	}

	// 	&__price {
	// 		color: #fafbfc;
	// 	}

	// 	&__description {
	// 		color: #cdcbcb;
	// 	}
	// }

	.paginate {
		&__link {
			color: #fafbfc;
		}
		&__active {
			a {
				background-color: #fafbfc;
				box-shadow: 0 0 30px hsla(240, 3%, 7%, 0.3);
				color: #2d2d2d;
			}
		}
	}
}
