.cataloPage {
	&__items {
		display: grid;
		// grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
		grid-template-columns: repeat(3, 1fr);
		gap: 16px;

		@media (max-width: 1224px) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media (max-width: 998px) {
			grid-template-columns: 1fr;
		}
	}
}

.dark {
	color: #fafbfc;
	background-color: #2d2d2d;

	// .catalogItem {
	// 	color: --colorWhiteGray;
	// 	background-color: #2d2d2d;
	// 	box-shadow: 0 2px 8px rgba(209, 208, 208, 0.11);
	// 	&__title {
	// 		color: #fafbfc;
	// 	}

	// 	&__article {
	// 		color: #ededed;
	// 	}

	// 	&__price {
	// 		color: #fafbfc;
	// 	}

	// 	&__description {
	// 		color: #cdcbcb;
	// 	}
	// }

	.paginate {
		&__link {
			color: #fafbfc;
		}
		&__active {
			a {
				background-color: #fafbfc;
				box-shadow: 0 0 30px hsla(240, 3%, 7%, 0.3);
				color: #2d2d2d;
			}
		}
	}
}
.pagination {
	margin: 70px 0px 0px 0px;
	@media (max-width: 76px) {
		margin: 30px 0px 0px 0px;
	}
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 15px;

	&__item {
		font-weight: 600;
		color: #121212;
		font-size: 20px;
		padding: 8px;
		background-color: #ccc;
		transition: background-color 0.3s ease 0s, color 0.3s;
		&_active {
			background-color: #1c629e;
			color: #fafbfc;
		}

		@media (any-hover: hover) {
			&:hover {
				background-color: #1c629e;
				color: #fafbfc;
			}
		}
	}
}
