@import '../assets/styles/null.css';
@import '../assets/styles/next-progress.css';
@import '../assets/styles/form-element.css';
@import './common.css';
@import 'react-redux-toastr/lib/css/react-redux-toastr.min.css';
@import 'swiper/css';
/* @import 'react-redux-toastr/src/styles/index'; */
/* @import './functions.scss'; */

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	height: 100vh;
	overflow-x: hidden;
}

body {
	color: #2d2d2d;
	background-color: #fafbfc;
}
.dark__mode {
	color: #fafbfc;

	transition: background-color 0.3s;
}
li {
	list-style: none;
}
a {
	color: inherit;
	text-decoration: none;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}

body.dark_mode {
	background: rgb(26, 26, 26);
	background: linear-gradient(
		135deg,
		rgba(26, 26, 26, 1) 4%,
		rgba(24, 21, 21, 1) 95%
	);
}

.overflow_hidden {
	overflow: hidden;
}

.open-select {
	position: relative;
}

.open-search::before {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	z-index: 18;
	background-color: rgba(0, 0, 0, 0.795);
	width: 100%;
	height: 100%;
}
.open-filter {
	position: relative;
}
.open-filter::before {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	z-index: 18;
	background-color: rgba(0, 0, 0, 0.795);
	width: 100%;
	height: 100%;
}

.container {
	max-width: 1466px;
	margin: 0 auto;
	padding: 0 15px;
}

.swiper-slide {
	height: 100% !important;
}

@media (max-width: 556px) {
}
