.admin {
	padding: 120px 0 50px 0;
	background-color: #12121271;
	&__form {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 25px;
	}

	&__list {
		display: flex;
		align-items: center;
		gap: 30px;
	}

	&__item {
	}

	&__link {
		background-color: #1212;
		color: #fafbfc;
		font-weight: 500;
	}
}
