.catalog {
	padding: 12px 0 180px 0;
	@media (max-width: 992px) {
		padding: 12px 0 120px 0;
	}
	@media (max-width: 767px) {
		padding: 12px 0 80px 0;
	}
	&__container {
		position: relative;
	}

	&__wrapper {
		display: grid;

		gap: 16px;
		margin-top: 24px;

		@media (min-width: 767px) {
			grid-template-columns: 347px 1fr;
		}
	}

	&__title {
		font-size: 55px;
		font-weight: 500;
		line-height: 61.6px /55px;
		margin-bottom: 48px;

		@media (max-width: 767px) {
			font-size: 42px;
			line-height: 61.6px /42px;
			font-weight: 500;
			margin-bottom: 30px;
		}

		@media (max-width: 480px) {
			font-size: 35px;
			line-height: 61.6px /42px;
			font-weight: 500;
			margin-bottom: 30px;
		}
	}

	&__header {
		grid-column: span 2;
	}

	&__actions {
		display: flex;

		@media (min-width: 767px) {
			border-bottom: 1px solid #e1e1e1;
			background-color: #fff;
			padding: 16px 24px;
			box-shadow: 0 2px 8px rgba(0, 0, 0, 0.11);
			border-radius: 4px;
			justify-content: space-between;
		}
		@media (max-width: 767px) {
			justify-content: space-between;
			align-items: center;
			gap: 16px;
		}
	}
	&__button {
		color: #4e4c4c;
		font-size: 14px;
		border: 1px solid #e0595d;
		background-color: transparent;
		border-radius: 40px;
		@media (any-hover: hover) {
			&:hover {
				color: #fafbfc;
				background-color: #e0595d;
			}
		}
	}

	&__filter {
		color: #fafbfc;
		font-size: 14px;
		padding: 10px 18px 9px 18px;
		background-color: #1c629e;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		gap: 8px;
		border-radius: 4px;
	}

	&__select {
		width: 241px;
	}
	&_dark {
		.catalog__actions {
			color: #fafbfc;
			background-color: #2d2d2d;

			@media (min-width: 767px) {
				border-bottom: 1px solid #121212;

				padding: 16px 24px;
				box-shadow: 0 2px 8px rgba(209, 208, 208, 0.11);
			}
		}
		.catalog__button {
			color: #fafbfc;
		}

		.filter {
		}
	}
}
