.desktop {
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
	background-color: #ffffff;
	padding: 16px 24px;
	border-radius: 4px;
	&__title {
		font-size: 24px;
		font-weight: 400;
		color: #2d2d2d;

		margin: 0 0 12px 0;
	}

	&__accordions {
		display: grid;
		gap: 24px;
		margin: 0 0 26px 0;
	}

	&__accordion {
		padding: 24px 0 24px 0;
		border-bottom: 1px solid #e1e1e1;
		border-top: 1px solid #e1e1e1;
		&:first-child {
			border-bottom: none;
		}
		&:last-child {
			padding: 24px 0 28px 0;
		}
	}

	&__subtitle {
		font-weight: 500;
		font-size: 18px;
		color: #2d2d2d;
	}
	&__list {
	}

	&__item {
		display: grid;
		gap: 12px;
	}

	&__label {
		display: flex;
		align-items: center;
		gap: 13px;
	}

	&__all {
		color: #1c629e;
		font-size: 14px;
		margin: 0 0 12px 0;
	}

	&__buttons {
		padding: 15px 0 0 0;
		font-size: 14px;
		font-weight: 500;
		display: grid;
		gap: 24px;
	}

	&__button {
		padding: 8px 0;

		&_show {
			color: #fafbfc;
			background: #1c629e;
			border-radius: 4px;
		}

		&_reset {
			color: #1c629e;
			border: 1px solid #1c629e;
			border-radius: 4px;
		}
	}
}

.filters {
	&__button {
		font-size: 14px;
		font-weight: 500;
		display: block;
		color: #4e4c4c;
		padding: 9px 16px;
		border: 1px solid #e0595d;
		border-radius: 40px;
	}
}

.mobile {
	&__title {
		color: #fafbfc;
		font-size: 14px;
		padding: 10px 18px 9px 18px;
		background-color: #2d2d2d;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		gap: 8px;
		border-radius: 4px;
	}

	&__menu {
		position: fixed;
		z-index: 22;
		display: grid;
		gap: 14px;
		top: 0;
		left: 0;
		width: 320px;
		height: 100vh;
		background-color: #fff;
		box-shadow: 0 2 8 rgba(0, 0, 0, 0.103);
		padding: 24px 16px;
		color: #2d2d2d;
	}

	&__body {
	}
}

.accordion {
	&__list {
		display: grid;
		gap: 14px;
	}

	&__item {
	}
	&__label {
		position: relative;

		input {
			overflow: hidden;
			opacity: 0;
			visibility: hidden;

			&:checked + .accordion__title:after {
				opacity: 1;
				visibility: visible;
				overflow: visible;
			}
		}
	}
	&__title {
		position: relative;
		gap: 10px;
		font-size: 16px;
		color: #4e4c4c;
		display: flex;
		align-items: flex-start;
		gap: 10px;

		&::before {
			content: '';
			width: 18px;
			height: 18px;
			flex: 0 0 18px;
			border: 2px solid #f0f0f0;
			border-radius: 6px;
		}

		&:after {
			content: '';
			position: absolute;
			top: 4px;
			left: 4px;
			width: 14px;
			height: 14px;
			background-color: #0d75cf;
			border-radius: 3px;
			opacity: 0;
			visibility: hidden;
			overflow: hidden;
			transition: visibility 0.3s, overflow 0.3s, opacity 0.3s;
		}
	}

	&__buttons {
		font-size: 14px;
		font-weight: 500;
		display: grid;
		gap: 24px;
	}

	&__button {
		padding: 8px 0;

		&_show {
			color: #fafbfc;
			background: #1c629e;
			border-radius: 4px;
		}

		&_reset {
			color: #1c629e;
			border: 1px solid #1c629e;
			border-radius: 4px;
			background-color: #1c619e3a;
		}
	}
}

.dark {
	.desktop {
		box-shadow: 0 2px 8px rgba(209, 208, 208, 0.11);
		color: #fafbfc;
		background-color: #2d2d2d;

		&__all {
			color: #ffcf62;
		}
	}
	.accordion {
		&__title {
			color: #ededed;
		}
		&__button {
			&_show {
				color: #fafbfc;
				background: #1c629e;
				border-radius: 4px;
			}

			&_reset {
				color: #ededed;
				border: 1px solid #ededed;

				background-color: #4949493a;
			}
		}
	}
}
