.button {
	padding: 12px 32px;
	font-size: 14px;
	color: #fafbfc;
	border-radius: 10px;

	background-color: #1c629e;

	transition: background-color 0.3s ease 0s;
	@media (any-hover: hover) {
		&:hover {
			background-color: #0a4980;
		}
	}
}
