.content {
	display: grid;
	gap: 24px;

	&__price {
		font-weight: 500;
		font-size: 36px;
	}

	&__stock {
		color: #04b19e;
	}

	&__button {
		display: flex;
		align-items: center;
		justify-self: start;
		align-self: start;
		gap: 20px;
		padding: 10px 32px;
		background-color: #ffcf62;
		color: #4e4c4c;
	}
}
