.field {
	display: grid;
	gap: 4px;

	&__value {
		font-size: 14px;
	}

	&__value {
		color: #121212;
	}
	&__input {
		width: 100%;
		padding: 10px;
		background-color: #232323 !important;
		::placeholder {
			color: #fff;
		}
	}

	&__label {
		width: 100%;
		&_checkbox {
			input {
				position: absolute;
				top: 0;
				left: 0;
				overflow: hidden;
				opacity: 0;
				width: 0;
				height: 0;

				&:checked + .value::after {
					opacity: 1;
					overflow: visible;
				}
			}

			.value {
				position: relative;

				&::before {
					content: '';
					position: absolute;
					top: 0;
					right: 0;
					width: 20px;
					height: 20px;
					border-radius: 4px;
					border: 1px solid blue;
					cursor: pointer;
				}
				&::after {
					content: '';
					position: absolute;
					top: 4px;
					right: 3px;
					width: 14px;
					height: 14px;
					border-radius: 4px;
					background-color: red;
					opacity: 0;
					overflow: hidden;
					cursor: pointer;
				}
			}
		}
	}
}

.placeholder {
	background-color: #121212;
}

.error {
	color: red;
	margin: 8px 0 0 0;
}

.dark {
	.field {
		input {
			border: 1px solid #fafbfc;
		}
		&__value {
			color: #fafbfc;
		}
	}

	.error {
		color: red;
		margin: 8px 0 0 0;
	}
}
