.field {
	display: grid;
	gap: 4px;

	&__value {
		font-size: 14px;
		color: #121212;
		margin: 15px 0px 0px 0px;
		display: inline-block;
		margin: 0px 0px 10px 0px;
	}

	&__input {
		width: 100%;
		padding: 10px;
		color: #fafbfc;
		background-color: #444444;
		border-radius: 5px;

		font-size: 16px;
		transition: transform 0.3s ease 0s;
		::placeholder {
			color: #999999;
		}

		&:focus {
			outline: 1px solid #ccc;
		}

		@media (any-hover: hover) {
			&:hover {
				transform: scale(1.01);
			}
		}
	}

	&__label {
		width: 100%;
		&_checkbox {
			input {
				position: absolute;
				top: 0;
				left: 0;
				overflow: hidden;
				opacity: 0;
				width: 0;
				height: 0;

				&:checked + .value::after {
					opacity: 1;
					overflow: visible;
				}
			}

			.value {
				position: relative;

				&::before {
					content: '';
					position: absolute;
					top: 0;
					right: 0;
					width: 20px;
					height: 20px;
					border-radius: 4px;
					border: 1px solid blue;
					cursor: pointer;
				}
				&::after {
					content: '';
					position: absolute;
					top: 4px;
					right: 3px;
					width: 14px;
					height: 14px;
					border-radius: 4px;
					background-color: red;
					opacity: 0;
					overflow: hidden;
					cursor: pointer;
				}
			}
		}
	}

	&_dark {
		.field__input {
		}
		.field__value {
			color: #fbfafc;
		}
	}
}

.error {
	color: red;
	margin: 8px 0 0 0;
}
